 @import "bootstrap-sprockets";
 @import "bootstrap";

.jumbotronTwo {
  text-align: center;
}


 body {
  background-image: url("https://media.giphy.com/media/GUOocZG5V1wn6/giphy.gif");
  // background-color: red;
  color: white;
}

.myNav {
  font-size: 50;
}
